@import "../../../assets/styles/variables.scss";

.card {
    width: 400px;
    margin: 20px auto;
    border-radius: 16px;
    border: 4px solid $mainColor;
    padding: 20px;

    .header {
        width: 200px;
        margin: 0 auto;
        span.name {
            display: inline-block;
            height: 96px;
            vertical-align: top;
            line-height: 96px;
        }
    }
    .info {
        width: 100%;
        td.right {
            text-align: right;
        }
    }
}
